table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 800px;
    height: 800px;
    table-layout: fixed;
    background: rgb(0,0,0);
background: linear-gradient(145deg, rgba(0,0,0,0) 0%, rgba(249,61,184,1) 30%, rgba(8,211,219,1) 100%);
}

h1{
    text-align: center;
    font-family: 標楷體;

}

 th{
    border: 1px solid black;
    text-align: center;
    background-color: blanchedalmond;
 }

 tr{
    border: 1px solid black;
 }

 td{
    border: 1px solid black;
    text-align: center;
    color: #ffffff ;
    
 }
.b .a{
    background-color: rgb(0, 0, 0)
}

