* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

a {
    text-decoration: none;
}

.heading {
    height: 50px;
    background-color: rgba(42, 119, 119, 0.7);
    width: 100%;
    border: 2px solid gray;
}

.heading ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding-top: 10px;
}

.heading ul li {
    padding: 10px;
}

.heading ul a {
    padding: 5px;
    background: rgb(97, 243, 243,0.6);
}

section {
    width: 100%;
    height: 800px;
    border: 2px solid purple;
    background-color: rgb(152, 230, 230,0.5);
}